
.nav-tabs{
    margin: 20px;
}

.tabs{
    text-decoration: none;
    margin: 20px;
}

.logo{
    margin-right: 20px;
}

.right-tabs{
    float: right;
}

#signin{
    border-right: solid 0.5px  grey;
    padding-right: 30px;
    color: rgb(50, 80, 170);
    font-weight: 600;
}

section{
    margin: 100px 160px;
    
}

.b-txt{
    font-size: 50px;
}

.m-txt{
    font-size: 23px;
}

.search{
    width: 100%;
    /* height: 100px; */
    border: solid 1px gray;
    border-radius: 10px;
    display: inline-block;
}

.ca-btn{
    text-decoration: none;
    background-color: royalblue;
    color: aliceblue;
    font-weight: 800;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
}

.head span{
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 10px;
    height: 40px;
    margin-bottom: 20px;
    /* max-width: 100%; */
}

.head h5{
    margin: 0px;
}

.head .ca-btn{
    width: 100%;
    padding: 10px 0px;
    /* padding: 0%; */
}

.section1{
    margin: 60px 0px;
}
.wrap-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color:white;
    column-gap: 20px;
    row-gap: 30px;
    padding-top: 30px;
    padding-bottom: 50px;
    
}

.wrap-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:white;
    column-gap: 20px;
    row-gap: 20px;
    padding-top: 30px;
    padding-bottom: 50px;
    
}

.wrap-2 .f-card{
    padding: 20px;
    
}

a{
    text-decoration: none;
    color: gray;
}

.f-card.bdr:hover{
    background-color: whitesmoke;
}

.i-flex{
    display: inline-flex;
    
}

.i-flex h3{
    margin: 5px 0px;
}

.i-flex .content{
    margin-left: 20px;
    font-size: small;
}

.lr-space{
    margin: 0px 50px;
}

.e-box{
    background-color: wheat;
    max-height: 30px;
    padding: 20px;
    
}

.section3{
    line-height: 80px;
    background-color: azure;
    vertical-align: middle;
    text-align: center;
    font-size: x-large;
}

.section3 input{
    border: none;
    width: 150px;
    height: 40px;
}

.date{
    margin-left: 20px;
}

.bdr{
    border: solid 1px;
    border-radius: 10px;
}

.vs{
    margin: auto 20px;
}