body{
    margin: 0px;
    padding: 0px;
    
}

.sub-ctnr{
    /* width:100%; */
    /* margin: 100px auto; */
    padding: 5%;
    /* position: relative; */
}


.App-header{
    background-color: white;
    color: gray;
    padding: 1px;
}

.nav-tabs{
    margin: 20px;

}

.tabs{
    text-decoration: none;
    margin: 0px 20px;
    padding: 20px 0px;
    color: grey
}

.logo{
    margin-right: 20px;
    
}

.section2 h1{
    color:wheat;
}

.search{
    /* margin: 10px; */
    border-radius: 30px;
    border: solid 0.5px white;
    width: 600px;
    height: 50px;
    font-size: larger;
    padding-left: 20px;
    background: linear-gradient(to right, white 85%, blue 15%);
}

.b-txt{
    font-size: 60px;
    margin: 20px auto;
    color: white;
    font-weight: 600;
}

.section2{
    background-color:rgb(43, 43, 109);
    height: 300px;
    text-align: center;
    padding: 25px ;
}

section{
    margin: 20px 80px;
    padding: 2px 20px;
    font-size: larger;
}

.bg-gry{
    background-color: lightgray;

}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
}
.box{
    
    padding: 50px;
  
}

.emty-bg{
    /* width: 100%; */
    margin: 2px 25px;
    border: solid 0.5px lightgray;
    border-radius: 3px;
    text-align: right;
    padding: 5px 0px;
}

.bg-only{
    background-color: rgb(43, 43, 109);
    height: 50px;
    margin: 20px 0px;
}

h6{
    margin: 0px 25px;
}

footer{
    text-align: center;
}